{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'component/desktop/navbar.html.twig' %}
    <div class="mt-5 d-flex flex-row align-items-start justify-content-between p-5 w-100 backgroundRed"
         id="desktopIndex">
        <div class="  d-flex flex-column align-items-start firstHomeContainer">

            <div class="statistiquesContainer mb-3 containerWithBackground d-flex flex-column ">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex flex-row w-100" >
                            <div class="rondBleu"></div>
                            <h2 class="font-size-2 dark-text uppercase">Outcomes</h2>

                        </div>
                        <hr>
                        <div class="d-flex flex-row justify-content-between w-100">
                            <span class="grey-2">Annual : </span><span class="dark-text">{{ annuelOutcome }} €</span></div>
                        <div class="d-flex flex-row justify-content-between w-100">
                            <span class="grey-2">Monthly : </span><span class="dark-text">{{ mensuelOutcome }} €</span></div>
                        <div class="d-flex flex-row justify-content-between w-100">
                            <span class="grey-2">Total : </span><span class="dark-text">{{ totalOutcome }} €</span></div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                       <div class="d-flex flex-row w-100">
                           <div class="rondRouge"></div>

                           <h2 class="font-size-2 dark-text uppercase">Incomes</h2>

                       </div>
                        <hr>
                        <div class="d-flex flex-row justify-content-between w-100">
                            <span class="grey-2">Annual : </span><span class="dark-text">{{ annuelIncome }} €</span>

                        </div>
                        <div class="d-flex flex-row justify-content-between w-100">
                            <span class="grey-2">Monthly : </span><span class="dark-text">{{ mensuelIncome }} €</span></div>
                        <div class="d-flex flex-row justify-content-between w-100">
                            <span class="grey-2">Total : </span><span class="dark-text">{{ totalIncome }} €</span></div>
                    </div>
                </div>

                <span>Total : {{ total }}€</span>

            </div>
            {% if toastMessage is not null%}
            <div class="containerWithBackground w-100" id="warningCntainer">
                <h2 class="mb-3 font-size-2 dark-text uppercase">Warning</h2>
             <p>{{ toastMessage }}</p>
            </div>
            {% endif %}
            <div class="containerWithBackground w-100" id="operationToValidateContainer">
                <h2 class="mb-3 font-size-2 dark-text uppercase">Recurring operations</h2>
                {% for op in operationsToValidate %}
                    <div href="" class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column align-items-start">
                            <span class="font-size-4 dark-text">  {{ op.op.name|capitalize }}</span><span>Operation of {{ op.date|date('d/m/Y') }}</span>

                        </div>
                        <div class="d-flex flex-column align-items-end">
                            <span>{{ op.op.montant }}</span>
                            <a href="{{ path('validate_operation',{'id':op.op.id,'date':op.timestamp}) }}"> <img
                                        src="{{ asset('pictures/check.svg') }}" alt="icon check"> </a>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="incomeAndOutcome">
            <h2 onclick="displayOutcomes.call(this)" class="first">Outcomes</h2>
            <h2 onclick="displayIncomes.call(this)" class="second">Incomes</h2>
            <div class="whiteSelector">

            </div>
            <div class="backgroundWhite">
                <div class=" outcomes  d-flex flex-column align-items-center">
                    <a href="{{ path('new_outcome') }}">Add outcome</a>
                    <hr>
                    <div class="d-flex flex-column align-items-start w-100">
                        {% set count = 0 %}
                        {% for cat in categories %}

                            {% if cat.type == 'outcome' %}
                                {% if count != 0 %}
                                    <hr>
                                {% endif %}
                                {% set count = count + 1 %}
                                {% include 'component/desktop/incomeOutcomeFromHome.html.twig' with {'cat':cat,'type':'outcome'} %}


                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="incomes d-flex flex-column align-items-center">
                    <a href="{{ path('new_outcome') }}">Add income</a>
                    <hr>
                    <div class="d-flex flex-column align-items-start w-100">
                        {% set count = 0 %}
                        {% for cat in categories %}

                            {% if cat.type == 'income' %}
                                {% if count != 0 %}
                                    <hr>
                                {% endif %}
                                {% set count = count + 1 %}
                                {% include 'component/desktop/incomeOutcomeFromHome.html.twig' with {'cat':cat,'type':'income'} %}

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
        <div class="outcomeContainer containerWithBackground d-flex flex-column align-items-center">
            <h2 class="font-size-4 dark-text uppercase">Outcomes</h2>
            <a class="font-size-1 mb-5" href="{{ path('new_outcome') }}">Add outcome</a>

            <div class="d-flex flex-column align-items-start w-100">
                {% set count = 0 %}
                {% for cat in categories %}

                    {% if cat.type == 'outcome' %}
                        {% if count != 0 %}
                            <hr>
                        {% endif %}
                        {% set count = count + 1 %}
                        {% include 'component/desktop/incomeOutcomeFromHome.html.twig' with {'cat':cat,'type':'outcome'} %}


                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="incomeContainer containerWithBackground d-flex flex-column align-items-center">
            <h2 class="font-size-4 dark-text uppercase">Incomes</h2>

            <a class="font-size-1 mb-5" href="{{ path('new_outcome') }}">Add income</a>

            <div class="d-flex flex-column align-items-start w-100">
                {% set count = 0 %}
                {% for cat in categories %}

                    {% if cat.type == 'income' %}
                        {% if count != 0 %}
                            <hr>
                        {% endif %}
                        {% set count = count + 1 %}
                        {% include 'component/desktop/incomeOutcomeFromHome.html.twig' with {'cat':cat,'type':'income'} %}

                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>



    <script>
        function hideAll() {
            let incomes = document.querySelector('#responsivIndex .incomes');
            let outcomes = document.querySelector('#responsivIndex .outcomes');

            incomes.classList.remove('d-block')
            outcomes.classList.remove('d-block')
            incomes.classList.add('d-none')
            outcomes.classList.add('d-none')
        }

        function inverseColor() {
            let first = document.querySelector('#responsivIndex .first')
            let second = document.querySelector('#responsivIndex .second')
            let firstColor = window.getComputedStyle(first).color;
            let secondColor = window.getComputedStyle(second).color;



            if (firstColor === 'rgb(177, 21, 21)' || firstColor === '#B11515') {
                first.style.color = '#FEFEFE';
            } else {
                first.style.color = '#B11515';
            }

            if (secondColor === 'rgb(177, 21, 21)' || secondColor === '#B11515') {
                second.style.color = '#FEFEFE';
            } else {
                second.style.color = '#B11515';
            }

        }

        function displayIncomes() {
            let incomes = document.querySelector('#responsivIndex .incomes');
            let backgrounWhite = document.querySelector('#responsivIndex .backgroundWhite');
            let whiteSelector = document.querySelector('#responsivIndex .whiteSelector');

            whiteSelector.style.left = '70%'
            inverseColor()
            backgrounWhite.style.borderRadius = '30px 0px 30px 30px'
            hideAll()
            incomes.classList.toggle('d-none');
            incomes.classList.toggle('d-block');
        }

        function displayOutcomes() {
            hideAll()
            let outcomes = document.querySelector('#responsivIndex .outcomes');
            let whiteSelector = document.querySelector('#responsivIndex .whiteSelector');
            let backgrounWhite = document.querySelector('#responsivIndex .backgroundWhite');
            whiteSelector.style.left = '0%'
            inverseColor()

            backgrounWhite.style.borderRadius = '0px 30px 30px 30px'
            outcomes.classList.toggle('d-none');
            outcomes.classList.toggle('d-block');
        }

    </script>
{% endblock %}
