<div class="dk-header   flex-row justify-content-between align-items-center ps-5 pe-5">
    <a href="{{ path }}"><img src="{{ asset('pictures/arrow.svg') }}" alt="icone fleche"></a>
    <h2 class="atchoum ">{{ title }}</h2>

</div>
<div class="responsiv-header flex-row justify-content-between align-items-center ps-5 pe-5">
   {%  if path !='' %}
    <a href="{{ path }}"><img src="{{ asset('pictures/arrow.svg') }}" alt="icone fleche"></a>
    {% endif %}
    <h1 class="atchoum  ">{{ title }}</h1>
</div>