<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        :root {
            --dash: #131313;
            --primary-color: #0b4a84;
            --grey-2: #929292;

        }

        body {
            padding: 40px;
            font-family: Inter, sans-serif;
        }

        body, header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            width: 100%;
        }

        h1 {
            color: var(--primary-color);
            font-size: 42px
        }

        h2 {
            font-size: 24px;
        }

        .identityPeanut {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .identityPeanut img {
            width: 20vw;
            border-color: var(--dash);
        }


        /*========TABLE===========*/
        .tableContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        table {
            width: 100%;
            margin-bottom: 50px;
            margin-top: 10px;
            border-collapse: collapse;
            border: 2px solid rgb(140 140 140);

            font-size: 1.1em;
            letter-spacing: 1px;
        }

        caption {
            caption-side: bottom;
            padding: 10px;
            font-weight: bold;
            color: var(--grey-2);
        }

        thead,
        tfoot {
            background-color: rgb(228 240 245);
        }

        thead th, h3 {
            color: var(--primary-color);
            font-size: 20px;
        }

        th,
        td {
            border: 1px solid rgb(160 160 160);
            padding: 8px 10px;
            text-align: center;

        }

        th{
            font-size: 1.2em !important;
        }

        td:last-of-type {
            text-align: center;
        }

        tbody > tr:nth-of-type(even) {
            background-color: rgb(237 238 242);
        }

        tfoot th {
            text-align: right;
        }


        hr {
            width: 100%;
        }

        /*===============PAYMENTS==============*/
        #paymentsContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }

        .hr {
            height: 100%;
            width: 2px;
            background: var(--grey-2);
        }

        #paymentsContainer > .left, #paymentsContainer > .right {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    </style>
</head>
<body>
<header>
    <div class="identityPeanut">

        <h1>Peanut</h1> <img loading="eager" src="{{ absolute_url(asset('/pictures/peanutLogo.png')) }}"
                             alt="icon peanut">
    </div>

    <hr>
    <h2>Summary of expenses </h2>

</header>
<hr>
{% for index,datum in data %}
    <div class="tableContainer">
        <h1>{{ index }}</h1>
        <table>
            {% if incomeOutcome %}

                <caption>
                    Summary of expenses for the year {{ index }}
                </caption>
                <thead>
                <tr>
                    <th scope="col">Months</th>
                    <th scope="col">Average incomes</th>
                    <th scope="col">Average outcomes</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for index,datum2 in  datum.months %}

                    <tr>
                        <td> {{ months[index] }}</td>
                        <td>
                            {% if  datum2.incomes.number != 0 %}
                                {{ datum2.incomes.total/datum2.incomes.number }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>
                            {% if  datum2.outcomes.number != 0 %}
                                {{ datum2.outcomes.total/datum2.outcomes.number }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>{{ datum2.total }}</td>
                    </tr>
                {% endfor %}


                </tbody>
            {% endif %}
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Total of year</td>

                <td>{{ datum.total }}</td>
            </tr>
            </tfoot>
        </table>

    </div>

{% endfor %}

<hr>
<h2>Wallets and credits cards</h2>
<hr>
<div id="paymentsContainer">
    <div class="left">
        {% for pay in payments %}
            {% if pay.type =='card' %}
                {% if walletName %}

                    <h3>{{ pay.name }}</h3>
                {% else %}
                    <h3>Credit card {{ loop.index }}</h3>
                {% endif %}
                <span>Utilisation : {{ pay.getTransactions|length }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <div class="hr"></div>
    <div class="right">
        {% for pay in payments %}
            {% if pay.type =='cash' %}
                {% if walletName %}
                    <h3>{{ pay.name }}</h3>
                {% else %}
                    <h3>Credit card {{ loop.index }}</h3>
                {% endif %}
                <span>Utilisation : {{ pay.getTransactions|length }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>


</body>
</html>