{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% include 'component/desktop/header.html.twig'  with {'path':path('app_home'),'title':"Monthly Budget"} %}
    <div class="d-flex flex-row justify-content-between" id="formPage">
        <div class="p-5 leftPanel">
            {{ form_start(form) }}
            {{ form_row(form.montant) }}
            <div class="isolation">

                {{ form_row(form.rappel1) }}
                <div class="d-flex flex-row align-items-center">
                    {{ form_widget(form.montant1) }} <span class="ms-3 font-size-4">€</span>
                </div>

            </div>
            <div class="isolation">
                {{ form_row(form.rappel2) }}
                <div class="d-flex flex-row align-items-center">
                    {{ form_widget(form.montant2) }} <span class="ms-3 font-size-4">€</span>
                </div>

            </div>

            <button class="button1" type="submit">Save</button>


            {{ form_end(form) }}
        </div>
        <div class="rightPanel">
            {% if budget is  defined %}
<div class="">

</div>
            {% endif %}

        </div>
    </div>

{% endblock %}
